@{
    ViewBag.Title = "RemoveConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Confirmation </h2>
<p>
    Are you sure you want to delete @ViewBag.handler?
</p>
<br />
<button id="btnOk" class="btn-default">Ok</button>
<button id="btnClose" class="btn-danger" onclick='window.location="Config"'>Cancel</button>

<script>
    $("btnOk").click(function () {
        document.getElementById("btnOk").disabled = true;
        document.getElementById("btnClose").disabled = true;
        @Html.ActionLink("RemoveHandler", "Home", new { handler = ViewBag.handler });
    });
</script>

